html {
    scroll-behavior: smooth;    
    soverflow-x: hidden;
}
body {
    background-image: url("../Photos/background.png");
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}
.top {
    background-color: rgba(0, 0, 0, 0.95);
    padding: 20px;
    width: 100%;
    position: sticky;
    top: 0;
    text-align: right;
    z-index: 2;
}
.top a {
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 26px;
    border: none;
}
.top a:hover {
    color: #007bff;
}
p{
    font-size: 20px;
}
.div1 {
    z-index: 1;
}
.div1 img {
    height: 170px;
    width: 170px;
    margin: auto;
    border-radius: 50%;
    display: block;
}
.div1 .h11 {
    color: white;
    text-align: center;
}

.p11 {
    color: white;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}
.div2 {
    text-align: center;
    margin-top: 50px;
}
.card{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    border: 3px solid white;
    margin: 30px;
}
.card1{
    color: #66CCFF;
}
.card1:hover{
    transition: box-shadow 0.7s;
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.7);
}
.card2{
    color: #FFD700;
}
.card2:hover{
    transition: box-shadow 0.7s;
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.7);
}
.card3{
    color: #66FF99;
}
.card3:hover{
    transition: box-shadow 0.7s;
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.7);
}
.projects{
    text-align: center;
}
.prjct{
    height: 500px;
    width: 40%;
    margin: 30px;
    border: 2px solid white;
    display: inline-block;
    vertical-align: top;
    transition: all 0.7s ease-in-out;
}
.prjct img {
    height: 400px;
    width: 100%;
}
.prjct .SnakeNLadeer img{
    height: 200px;
}
.prjct.clone {
    position: relative;
    width: 300px;
    height: auto;
}
.prjct.clone:hover {
    transform: scale(3);
    background-color: black;
}
.prjct.clone video {
    width: 100%;
    display: block;
}
.prjct.clone h2 {
    margin: 0;
    padding: 5px;
    color: white;
}
.div3{
    text-align: center;
}
.i4{
    text-decoration: none;

}
i{
    color: white;
    transition: all 0.7s ease-in-out;
    transform: scale(2);
    margin: 20px;
}
.i4 i:hover {
    background-image: linear-gradient(to bottom, red, yellow,blue);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    transform: scale(3);
}
.i3 i:hover{
    color: blue;
    transform: scale(3);
}
.i2 i:hover{
    color: rgb(0, 255, 0);
    transform: scale(3);
}
.i1 i:hover {
    background-image: linear-gradient(120deg, #833AB4, #FD1D1D, #FCAF45);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: scale(3);
}
.footer p{
    display: inline-block;
    margin-left: 380px;
    color: #FFD700;
    font-size: 24px;
}
